body {
  position: relative;
  margin: 0;
  height: 100vh;
  background-image: url("./image/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  z-index: -1;
}

/* Main Title */
#main-title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0;
  z-index: 10;
}

/* Container for Charts */
#chart-container {
  position: relative;
  color: #09dd73;
  width: 100%;
  height: 100%;
  outline: 1px solid red;
}

.chart {
  opacity: 1;
  position: absolute;

  transition: opacity 0.5s ease, transform 1s ease, scale 1.5s ease;
  z-index: 10;
}
/* Price segment positioning */
#price_segment {
  bottom: 400px;
  left: 930px;
  width: 30%;
  height: 40%;
}

#his_prices {
  bottom: 0px;
  left: 930px;
  width: 30%;
  height: 50%;
}

#bot {
  position: absolute;
  bottom: 110px;
  left: 400px;
  width: 60px;
  height: 60px;
  opacity: 0;
  transition: opacity 1s ease;
}

#fluctuation {
  position: absolute;
  font-size: 18px; /* Kích thước chữ */
  font-weight: bold; /* Chữ đậm */
  font-family: "Arial", sans-serif; /* Font chữ */
  background-color: "black";
  color: #ffffff; /* Màu xanh ngọc */
  bottom: 100px;
  left: 470px;
  padding: 10px 20px; /* Khoảng cách bên trong */
  border: 2px solid #264653; /* Viền đậm màu xanh đen */
  border-radius: 8px; /* Bo tròn các góc */
  text-align: center; /* Canh giữa */
  display: inline-block; /* Hiển thị inline để vừa khít đoạn text */
  white-space: nowrap; /* Không xuống dòng */
  opacity: 0;
  padding: 10px 20px; /* Khoảng cách bên trong */
  z-index: 10;
}

#correlation_chart {
  bottom: 0px;
  left: 0px;
  width: 30%;
  height: 45%;
}

.custom-button:hover {
  background-color: #005f6b;
}

/* Icon containers */
#icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
  padding-top: 50px;
  gap: 10px;
}

.highcharts-contextbutton {
  opacity: 0.1;
}
