html, body {
  height: auto;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Cho phép cuộn dọc */
}
body {
  
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-end; /* Đưa #chart-area sang phải */
  align-items: flex-end; /* Đưa #chart-area xuống dưới */
  background-color: #c7c6c6; /* Màu nền toàn màn hình */
  background-attachment: scroll;
  overflow-x: hidden;
}

#main-title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  color: rgb(24, 19, 19);
  font-weight: bold;
  text-align: center;
  margin: 0;
  z-index: 10;
}

#chart-area {
  top: 40%;
  left: 45%;
  position: absolute; /* Để chứa #chart-container */
  width: 50%; /* Chiều rộng của chart-area */
  height: 50%; /* Chiều cao của chart-area */
  margin: 40px; /* Khoảng cách từ góc màn hình */
  border-radius: 20px;
  overflow: hidden;
}

#chart-container {
  position: absolute; /* Để căn giữa bên trong #chart-area */
  top: 50%; /* Căn giữa dọc */
  left: 50%; /* Căn giữa ngang */
  transform: translate(-50%, -50%); /* Dịch chuyển tâm */
  width: 80%; /* Chiều rộng của chart-container */
  height: 100%; /* Chiều cao của chart-container */
  border-radius: 20px;
  overflow: hidden;
}



.arrow {
  position: absolute;
  color: #000;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.5;
}

.arrow.left {
  top: 40%;
  left: 30px;
  opacity: 0.3;
  cursor: default;
}

.arrow.right {
  top: 40%;
  right: 30px;
}

.arrow:focus {
  outline: none;
}

.chart {
  opacity: 1;
  position: absolute;
  transition: opacity 0.5s ease, transform 1s ease, scale 1.5s ease;
  z-index: 15;
  background-color: #f0f0dc; /* Màu nền */
  border-radius: 15px; /* Bo góc */
  padding: 10px; /* Tạo khoảng cách từ biểu đồ tới viền */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
}

.words-container {
  position: absolute;
  width: 45%;
  height: 20%;
  left: 49%;
  bottom: 500px;
  border-radius: 10px;
  border-style: solid;
  border-color: #000;
  border-width: 1px;
} 

#fta_comment {
  position: absolute;
  background-color: #fff;
  width: 500px;
  height: 40px;
  left: 750px;
  bottom: 440px;
  border-radius: 5px;
  border-color: green;
  border-width: 1px;
  border-style: solid; /* Đảm bảo có đường viền */
  z-index: 1; /* Đảm bảo nó không bị che khuất */
  display: none;
  transition: opacity 0.3s ease-in-out;
}

#fta-container {
  position: relative;
  width: 70px; /* Kích thước cố định của vùng chứa */
  height: 35px;
  margin-top: 3px;
  margin-left: 5px;
  background-color: rgb(241, 241, 248);
  border-radius: 20px; /* Bo tròn vùng chứa */
  display: flex; /* Sử dụng flexbox để căn giữa nội dung */
  align-items: center; /* Căn giữa nội dung theo chiều dọc */
  justify-content: center; /* Căn giữa nội dung theo chiều ngang */
  overflow: hidden; /* Ẩn nội dung thừa nếu có */
}

#fta-number {
  font-family: "Lexend Medium", Roboto, Arial !important;
  font-size: 20px;
  font-weight: normal;
  color: #07a35d;
  letter-spacing: -0.2px;
  white-space: nowrap; /* Ngăn xuống dòng */
}

#fta-para {
  position: relative;
  font-family: "Lexend Medium", Roboto, Arial !important;
  font-size: 18px;
  left: 100px;
  bottom: 27px;
}

#icon_up {
  position: absolute;
  width: 60px;
  left: -65px;
  bottom: -5px;
  display: block;
}

#icon_down {
  position: absolute;
  width: 60px;
  left: -65px;
  bottom: -5px;
  display: none;
}

.Hanoimap {
  width: 43%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 10px;
  border-width: 5px;
  top: 55%;
  left: 24%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.Hanoimap2 {
  width: 45%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 10px;
  border-width: 5px;
  top: 100%;
  left: 27%;
  transform: translate(50%, 50%);
  z-index: 1;
}

.custom-button:hover {
  background-color: #005f6b;
}
.highcharts-contextbutton {
  opacity: 0.1;
}

.scrollable-section {
  right: 100p;
  max-height: 4000px;
  overflow-y: auto;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

#segment-container {
  left: 0;
  height: 90%;
  margin-top: 66%; /* Thêm khoảng cách từ phần tử trước */
  padding: 20px; /* Giảm padding để tránh đẩy phần tử quá xa */
  background-color: #f0f0f0; /* Thêm màu nền để dễ nhìn */
  border-radius: 10px; /* Góc bo tròn */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm hiệu ứng bóng đổ */
  display: block; /* Đảm bảo các phần tử con không bị đè lên nhau */
  transform: translateX(-115%); /* Dịch sang trái 50% chiều rộng của chính nó */
}

#segment-count {
  margin-top: 20px; /* Thêm khoảng cách từ phần tử trước */
  height: 400px; /* Chỉ định chiều cao cho từng biểu đồ */
  margin-bottom: 80px; /* Khoảng cách giữa các biểu đồ */
}

#stddev, #variance {
  margin-top: 20px; /* Thêm khoảng cách từ phần tử trước */
  height: 400px; /* Chỉ định chiều cao cho từng biểu đồ */
  background-color: #c7c6c642; /* Nền trắng cho biểu đồ */
  border: 1px solid #ccc; /* Đường viền mỏng */
}

