body {
  position: relative;
  margin: 0;
  height: 100vh;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  z-index: -1;
}

/* Main Title */
#main-title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0;
  z-index: 10;
}

.chart {
  opacity: 1;
  position: absolute;
  transition: opacity 0.5s ease, transform 1s ease, scale 1.5s ease;
  z-index: 15;
}

.sub_chart {
  opacity: 1;
  position: absolute;
  transition: opacity 0.5s ease, transform 1s ease, scale 1.5s ease;
  z-index: 15;
}


#bot {
  position: absolute;
  bottom: 110px;
  left: 400px;
  width: 60px;
  height: 60px;
  opacity: 0;
  transition: opacity 1s ease;
}

.notification {
  position: absolute;
  font-size: 13px; /* Kích thước chữ */
  font-family: "Arial", sans-serif; /* Font chữ */
  background-color: #000000;
  color: #ffffff; /* Màu xanh ngọc */
  padding: 10px 20px; /* Khoảng cách bên trong */
  border: 2px solid #264653; /* Viền đậm màu xanh đen */
  border-radius: 8px; /* Bo tròn các góc */
  text-align: center; /* Canh giữa */
  display: inline-block; /* Hiển thị inline để vừa khít đoạn text */
  opacity: 0;
  padding: 10px 20px; /* Khoảng cách bên trong */
  z-index: 10;
}

#fluctuation {
  bottom: 100px;
  left: 470px;
}

#fluctuationIn2Years {
  bottom: 450px;
  left: 540px;
}

#meanOfFluctuation {
  bottom: 400px;
  left: 540px;
}

.custom-button:hover {
  background-color: #005f6b;
}

.highcharts-contextbutton {
  opacity: 0.1;
}
