body {
  background: #1e1e1e; /* Màu nền tối chủ đạo */
  color: #f0f0f0; /* Màu chữ trắng nhạt */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif; /* Font chữ hiện đại */
  position: relative;
}

/* Hiệu ứng loang sáng cong cong phía trên */
body::before {
  content: "";
  position: absolute;
  top: -40px; /* Dịch lên trên */
  left: 50%;
  transform: translateX(-50%);
  width: 150%;
  height: 150px;
  background: radial-gradient(circle at 50% 0%, rgba(255, 255, 255, 0.1), transparent 80%);
  border-radius: 50%; /* Tạo hiệu ứng cong cong */
  pointer-events: none;
  z-index: 1;
  
}

#main-title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 10; /* Đảm bảo tiêu đề luôn ở trên cùng */
}

#container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
}

#price_segment,
#his_prices {
  width: 40%; /* Giảm kích thước xuống 0.6 lần (so với 50%) */
  height: 50%; /* Tương tự cho chiều cao */
  position: absolute;
  transition: all 0.5s ease;
}

#price_segment {
  right: 0%;
  top: 5%; /* Giữ biểu đồ tròn ở chính giữa */
  transform: translateX(0) scale(1);
}

#his_prices {
  right: 0%;
  bottom: 0%;
}
