body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end; /* Đưa #chart-area sang phải */
  align-items: flex-end; /* Đưa #chart-area xuống dưới */
  background-color: #c7c6c6; /* Màu nền toàn màn hình */
  overflow: hidden;
}

#vertical-bar {
  width: 1px; /* Độ rộng của thanh */
  height: 80%; /* Chiều cao chiếm toàn bộ */
  background-color: #0f0f0f; /* Màu sắc của thanh */
  position: absolute; /* Đặt thanh ở vị trí cố định */
  left: 640px; /* Canh giữa theo chiều ngang */
  top: 100px; /* Bắt đầu từ trên cùng */
  opacity: 0.6;
}

#main-title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  color: rgb(24, 19, 19);
  font-weight: bold;
  text-align: center;
  margin: 0;
  z-index: 10;
}

#lst-project {
  position: absolute;
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  top: 15%;
  left: -50%;
  z-index: 3;
}

#lst-pro-title {
  font-size: 20px;
  position: absolute;
  top: 50px;
  left: 130px;
  width: 500px;
  height: 30px;
  display: none;
}

.card-info {
  position: absolute;
  width: 45%;
  height: 20%;
  left: 49%;
  bottom: 500px;

  transition: transform 0.5s;
  transform: translateX(150%);

  background-color: burlywood;
  border-radius: 10px;
  border-style: solid;
  border-color: #000;
  border-width: 1px;
  z-index: 2;
}

.title {
  position: absolute;
  top: 8%;
  left: 25%;
  width: 400px;
  height: 30px;
  transform: translateX(-50%);
}

#words-title {
  position: absolute;
  left: 800px;
  bottom: 650px;
  width: 400px;
  height: 40px;
  font-size: 20px;

  display: inline-block; /* Giữ nội dung trên một dòng */
  font-size: 20px; /* Tùy chỉnh kích thước chữ */
  font-weight: bold; /* Làm đậm chữ nếu cần */
  margin: 10px 0; /* Tạo khoảng cách nếu cần */
}

#cur-place {
  color: #007bff; /* Đổi màu chữ của khu vực hiện tại */
  font-style: italic;
}

#heat_title {
  position: relative;
  margin-top: 3px;
  font-size: 20px;
  font-weight: bold;
}

.district_map{
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 10px;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.ward_map {
  width: 40%;
  height: 80%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 10px;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  z-index: 0;
}

.district, .ward {
  width: 100%;
  height: 100%;
  border-width: 5px;
}

#chart-area {
  position: relative; /* Để chứa #chart-container */
  width: 50%; /* Chiều rộng của chart-area */
  height: 50%; /* Chiều cao của chart-area */
  margin: 40px; /* Khoảng cách từ góc màn hình */
  border-radius: 20px;
}

#chart-container {
  position: absolute; /* Để căn giữa bên trong #chart-area */
  top: 50%; /* Căn giữa dọc */
  left: 50%; /* Căn giữa ngang */
  transform: translate(-50%, -50%); /* Dịch chuyển tâm */
  width: 80%; /* Chiều rộng của chart-container */
  height: 100%; /* Chiều cao của chart-container */
  border-radius: 20px;
  overflow: hidden;
}

.arrow {
  position: absolute;
  color: #000;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.5;
}

.arrow.left {
  top: 40%;
  left: 30px;
  opacity: 0.3;
  cursor: default;
}

.arrow.right {
  top: 40%;
  right: 30px;
}

.arrow:focus {
  outline: none;
}

.chart {
  opacity: 1;
  position: absolute;
  transition: opacity 0.5s ease, transform 1s ease, scale 1.5s ease;
  z-index: 15;
  background-color: #f0f0dc; /* Màu nền */
  border-radius: 15px; /* Bo góc */
  padding: 10px; /* Tạo khoảng cách từ biểu đồ tới viền */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
}

.words-container {
  position: absolute;
  width: 45%;
  height: 20%;
  left: 49%;
  bottom: 500px;
  border-radius: 10px;
  border-style: solid;
  border-color: #000;
  border-width: 1px;
}

.comment {
  position: absolute;
  left: 700px;
  bottom: 430px;
  width: 600px;
  height: 60px;
  overflow: hidden;
}

#fta_comment,
#sgm_comment,
#crl_comment {
  position: absolute;
  background-color: #fff;
  width: 500px;
  height: 40px;
  margin-left: 60px;
  margin-top: 10px;
  border-radius: 5px;
  border-color: green;
  border-width: 1px;
  border-style: solid; /* Đảm bảo có đường viền */
  z-index: 1; /* Đảm bảo nó không bị che khuất */
  transition: opacity 0.3s ease-in-out;
}

#type_comment {
  position: absolute;
  background-color: #fff;
  width: 450px;
  height: 40px;
  margin-left: 60px;
  margin-top: 10px;
  border-radius: 5px;
  border-color: green;
  border-width: 1px;
  border-style: solid; /* Đảm bảo có đường viền */
  z-index: 1; /* Đảm bảo nó không bị che khuất */
  transition: opacity 0.3s ease-in-out;
}

#fta-container {
  position: relative;
  width: 70px; /* Kích thước cố định của vùng chứa */
  height: 35px;
  margin-top: 3px;
  margin-left: 5px;
  background-color: rgb(241, 241, 248);
  border-radius: 20px; /* Bo tròn vùng chứa */
  display: flex; /* Sử dụng flexbox để căn giữa nội dung */
  align-items: center; /* Căn giữa nội dung theo chiều dọc */
  justify-content: center; /* Căn giữa nội dung theo chiều ngang */
  overflow: hidden; /* Ẩn nội dung thừa nếu có */
}

#fta-number {
  font-family: "Lexend Medium", Roboto, Arial !important;
  font-size: 20px;
  font-weight: normal;
  color: #07a35d;
  letter-spacing: -0.2px;
  white-space: nowrap; /* Ngăn xuống dòng */
}

#fta-para {
  position: relative;
  font-family: "Lexend Medium", Roboto, Arial !important;
  font-size: 18px;
  left: 100px;
  bottom: 27px;
}

.fta-icon {
  position: relative;
  width: 64px;
  height: 59px;
  left: -60px;
  bottom: 70px;
}

#icon_up {
  position: relative;
  width: 64px;
  height: 59px;
  display: inline;
}

#icon_down {
  position: relative;
  width: 64px;
  height: 59px;
  display: none;
}

#sgm_para,
#type_para,
#crl_para {
  position: relative;
  font-family: "Lexend Medium", Roboto, Arial !important;
  font-size: 18px;
  margin-top: 10px;
  left: 30px;
  bottom: 0px;
}

#icon_royal,
#toilet,
#department {
  position: relative;
  width: 64px;
  height: 59px;
  display: inline;
  left: -65px;
  bottom: 43px;
}

#icon_home {
  position: relative;
  width: 64px;
  height: 59px;
  display: inline;
  left: 400px;
  bottom: 43px;
}

#eye {
  position: absolute;
  left: 10px;
  bottom: 630px;
}

#btn-project {
  position: absolute;
  left: 10px;
  bottom: 600px;
}

#eye:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.custom-button:hover {
  background-color: #005f6b;
}
.highcharts-contextbutton {
  opacity: 0.1;
}
